@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #fbfbfd;
    color: #0f0f11;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
}
